body{
    background-color: rgb(63, 130, 132);
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75px;
    text-align: center;
}
p{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-align: justify;

}